absl-py==1.4.0
ale-py==0.8.1
alembic==1.10.0
astunparse==1.6.3
AutoROM==0.5.5
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
cmaes==0.9.1
colorlog==6.7.0
contourpy==1.0.7
cycler==0.11.0
DataProperty==0.55.0
Farama-Notifications==0.0.4
filelock==3.9.0
flatbuffers==23.1.21
fonttools==4.38.0
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.3
gym==0.21.0
gym-notices==0.0.8
gymnasium @ git+https://github.com/pseudo-rnd-thoughts/Gymnasium@af553a25533168aacf1dec40ffac03663146a31d
gymnasium-notices==0.0.1
h5py==3.8.0
huggingface-hub==0.12.1
huggingface-sb3==2.2.4
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.12.0
jax-jumpy==0.2.0
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
libclang==15.0.6.1
libtorrent==2.0.7
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.0
mbstrdecoder==1.1.2
mdurl==0.1.2
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
optuna==3.1.0
packaging==23.0
pandas==1.5.3
pathvalidate==2.5.2
Pillow==9.4.0
progressbar==2.5
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.1.0
Pygments==2.14.0
PyOpenGL==3.1.6
pyparsing==3.0.9
pytablewriter==0.64.2
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.2
rl-zoo3==1.7.0
rsa==4.9
sb3-contrib==1.7.0
scipy==1.10.1
simpy==4.0.1
six==1.16.0
SQLAlchemy==2.0.5.post1
stable-baselines==2.10.2
stable-baselines3 @ git+https://github.com/DLR-RM/stable-baselines3@62966995737bad36866d7539aa7611a40ae99929
tabledata==1.3.1
tcolorpy==0.1.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
tokenizers==0.13.2
torch==1.13.1
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu
tqdm==4.64.1
typepy==1.3.0
typing_extensions==4.5.0
urllib3==1.26.14
wasabi==1.1.1
Werkzeug==2.2.3
wrapt==1.15.0
zipp==3.15.0