absl-py==1.4.0
ale-py==0.8.1
astunparse==1.6.3
AutoROM==0.5.5
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
Farama-Notifications==0.0.4
flatbuffers==23.1.21
fonttools==4.38.0
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
gym==0.21.0
gym-notices==0.0.8
gymnasium @ git+https://github.com/pseudo-rnd-thoughts/Gymnasium@af553a25533168aacf1dec40ffac03663146a31d
gymnasium-notices==0.0.1
h5py==3.8.0
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.12.0
jax-jumpy==0.2.0
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
libclang==15.0.6.1
libtorrent==2.0.7
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.0
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
progressbar==2.5
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.10.1
simpy==4.0.1
six==1.16.0
stable-baselines==2.10.2
stable-baselines3 @ git+https://github.com/DLR-RM/stable-baselines3@62966995737bad36866d7539aa7611a40ae99929
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
torch==1.13.1
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu
tqdm==4.64.1
typing_extensions==4.5.0
urllib3==1.26.14
Werkzeug==2.2.3
wrapt==1.15.0
zipp==3.15.0
